body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}
    

#canvas {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-color: darkslategray;
    position: relative;
    overflow: hidden;
}

#player {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}

#enemy {
    width: 100px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    position: absolute;
}

.bullets {
    width: 20px;
    height: 15px;
    background-color: yellowgreen;
    position: absolute;
    border-radius: 0 15px 15px 0;
}

.title {
    color: aliceblue;
    position: absolute;
    top: 100px;
}

.start {
    position: absolute;
    height: 600px;
    width: 600px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.start > label {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px rgb(207, 157, 92);
}

#name {
    text-align: center;
    margin: 15px auto;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 4px 4px 1px rgb(207, 157, 92);
}

#startButton {
    height: 50px;
    width: 150px;
    font-size: x-large;
    font-weight: 900;
}
#startButton:hover {
    color:rgb(207, 157, 92);
    box-shadow: 4px 4px 4px black;
    background-color: #093d09;
    border-color: rgb(207, 157, 92);
}